{% load static i18n %}

{% if change %}
  {# javascript can extract what ID to talk to from here #}
  <input type="hidden" id="page_model_object_id" value="{{ object_id }}" />
  <input type="hidden" id="page_model_name" value="{{  opts.model_name }}" />
  <div class="_inline-group" id="inlined-model-group">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
      <fieldset class="module">
        <h1 id="js-fieldset-header"></h1>
        <div id="inlined-error-box"></div>
        <div class="scrollable-area">
          <table class="table table-striped table-bordered" id="inlined-model-table">
            <thead>
              <tr>
                {% comment %}
                  This portion auto-filled by javascript
                {% endcomment %}
              </tr>
            </thead>
            {% comment %}
              This portion auto-filled by javascript
            {% endcomment %}
          </table>
        </div>
        <div id="addNewButtonDiv"></div>
      </fieldset>
    </div>
  </div>
  <script type="text/javascript" src="{% static "js/jquery.stickytableheaders.js" %}"></script>
  <script type="text/javascript" src="{% static "js/inline_ajax.js" %}"></script>

  {% block inline_config %}
    <input type="hidden" id="inline-config"
           data-config="{{ inline_form_config }}" />
  {% endblock %}


{% else %}
<p>
  {% if opts.model_name == "institution" %}
      <i>To add contacts, first save this page.</i>
  {% elif opts.model_name == "event" %}
      <i>To add attendees, first save this page.</i>
  {% endif %}
  </p>

{% endif %}

