<div id="participantModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col-md-8">
        <h1>Participant Details</h1>
      </div>
      <div class="col-md-3">
        <a id="popupLink" target="_blank">See more details</a>
      </div>
      <div class="col-md-1" id="closePopup">
        <button onclick="closePopup()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="hr"></div>
    <div id="modal-results"></div>
  </div>
</div>