{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<script type="text/javascript" src="{% static 'js/change_advanced_fields.js' %}"></script>
{% endblock %}

{% if not is_popup %} {% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li class="bold_name">{% trans "Search" %}</li>
</ul>
{% endblock %} {% endif %}

{% block content %}
{% if not search_query and error %}
<div class="alert alert-danger">
  {% trans "You need to specify a search term" %}
</div>
{% endif %}

<h2>{% trans "Search" %}</h2>
<div>
  <form id="advanced_search_form" method="POST" action="{% url 'admin:search' %}?advanced={% if advanced %}1{% endif %}">
    {% csrf_token %}
    {% block search %}
    {% if advanced %}
    <div id="id_search_form">
      <!-- What does the user want to search for, this will dictate the search query -->
      <h4 style="display: inline;">{% trans "Search for " %}</h4>
      {{ form.search_for }}

      <span class="help-block">
	{% trans "All fields are optional.  Only fill in the fields which apply to your search." %}
      </span>

      <!-- Use div to pad down a little -->
      <div style="padding-bottom: 1em;"></div>
      <table>
        <tr class="participant_search_fields">
          <td>{% trans "Member of this institution: " %}</td>
          <td>{{ form.institution }}</td>
        </tr>
        <tr class="participant_search_fields">
          <td>{% trans "Or a member of any institution tagged:" %}</td>
          <td>{{ form.institution_tags }}</td>
        </tr>
        <tr class="participant_search_fields">
          <td>{% trans "And has leadership level:" %}</td>
          <td>{{ form.leader_stage }}</td>
        </tr>
        
        <tr class="participant_search_fields">
          <th>Action-specific fields: </th>
          <th></th>
        </tr>
        <tr class="participant_search_fields">
          <td>{% trans "Participated in an action named: " %}</td>
          <td>{{ form.event }}</td>
        </tr>
        <tr class="participant_search_fields">
          <td>{% trans "Any action organized by: " %}</td>
          <td>{{ form.event_organizer }}</td>
        </tr>
        <tr class="participant_search_fields">
          <td>{% trans "Any action tagged:" %}</td>
          <td>{{ form.event_tags }}</td>
        </tr>
        <tr class="action_search_fields">
          <td>{% trans "Attended by: " %}</td>
          <td>{{ form.participant }} </td>
        </tr>
        <tr class="action_search_fields">
          <td>{% trans "Organized by: " %}</td>
          <td>{{ form.event_organizer }}</td>
        </tr>
        <tr class="action_search_fields">
          <td>{% trans "Connected to: " %}</td>
          <td>{{ form.connected_action }}</td>
        </tr>
        <tr class="action_search_fields">
          <td>{% trans "Tagged:" %}</td>
          <td>{{ form.event_tags }}</td>
        </tr>
        <tr>
          <td>{% trans "From start date: " %}</td>
          <td>{{ form.start_date }}</td>
        </tr>
        <tr>
          <td>{% trans "To end date:" %}</td>
          <td>{{ form.end_date }}</td>
        </tr>
      </table>
    </div>
    <!-- Use div to pad down a little -->
    <div style="padding-bottom: 1em;"></div>
    {% else %}
    {{ form.query }}
    {% endif %}
    <input name="search_btn" value="{% trans "Search" %}" type="submit">
    {% if advanced %}    
    <button id="clear_filters_button">{% trans "Clear filters" %}</button>
    {% endif %}
    {% endblock %}

    <br />

    <!-- Give the user option of switching to either basic or advanced search -->
    {% if advanced %}
    <a href="{% url 'admin:search' %}" style="font-style: italic">change to basic search</a>
    {% else %}
    <a href="{% url 'admin:search' %}?advanced=1" style="font-style: italic">change to advanced search</a>
    {% endif %}


    <!-- Display some padding between search query and results -->
    <div style="padding-bottom: 1em;"></div>

    {% block search_results %}
    <ul>
      {% if major_event_count %}
      <li>{% trans "Major Actions:" %} {{ major_event_count }}</li>
      {% endif %}
      {% if prep_event_count %}
      <li>{% trans "Prep Actions:" %} {{ prep_event_count }}</li>
      {% endif %}
      {% if participant_count %}
      <li>{% trans "Unique Participants:" %} {{ participant_count }}</li>
      {% endif %}
    </ul>
    {% endblock %}
    {% if search_results.results or result_count %}
    <div class="input-group pull-right">
      <label for="submit-export" class="btn btn-default">Export Results <i class='glyphicon glyphicon-export'></i></label>
      <input id="submit-export" class="hidden" type="submit" name="export_btn" value="Export Results">
    </div>
    {% endif %}

    {% include "admin/includes/search_result_block.html" with search_results=search_results %}
  </form>
</div>
{% endblock %}
