{% load i18n admin_urls st_admin_list %}
<div class="pull-left">
  {% if can_archive %}
        {% if original.archived %}
          {% url opts|admin_urlname:'unarchive' original.pk|admin_urlquote as unarchive_url %}
          <a class="btn btn-danger deletelink" href="{% add_preserved_filters unarchive_url %}">{% trans "Unarchive" %} {{ opts.model_name }}</a>
      {% else %}
          {% url opts|admin_urlname:'archive' original.pk|admin_urlquote as archive_url %}
          <a class="btn btn-archive" href="{% add_preserved_filters archive_url %}">{% trans "Archive" %} {{ opts.model_name }}</a>
      {% endif %}
  {% endif %}
          
  {% if show_delete_link %}
      {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
      <a class="btn btn-danger deletelink" href="{% add_preserved_filters delete_url %}">{% trans "Delete" %} {{ opts.model_name }}</a>
  {% endif %}
</div>

<div class="pull-right">
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" class="btn btn-default" name="_saveasnew" {{ onclick_attrib }}/>{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" class="btn btn-default" name="_addanother" {{ onclick_attrib }} />{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" class="btn btn-default" name="_continue" {{ onclick_attrib }}/>{% endif %}
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="btn btn-primary default" name="_save" {{ onclick_attrib }}/>{% endif %}
</div>
<div class="spacer"></div>
