{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% trans "Advanced Search" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'js/advanced_search.js' %}"></script>
{% endblock %}

{% if not is_popup %} {% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li class="bold_name">{% trans "Advanced Search" %}</li>
</ul>
{% endblock %} {% endif %}

{% block content %}
<h2>{% trans "Advanced Search:" %}</h2>
<div>
  <form method="POST" action="{% url 'admin:advanced-search' %}">
    {% csrf_token %}
    <!-- What does the user want to search for, this will dictate the search query -->
    <h4 style="display: inline;">{% trans "Search for " %}</h4>
    {{ form.search_model }}

    <span class="help-block">
      {% trans "All fields are optional, only fill in those which are applicable to your search." %}
    </span>

    <!-- Use div to pad down a little -->
    <div style="padding-bottom: 1em;"></div>

    <!-- Form for the participant -->
    <div id="id_participant_search_form" style="display: none;">
      {{ form.participant }}
      {% trans "participated in" %}
      {{ form.event }}
      <br/>
      {{ form.exclude_major_events }}
      {% trans "Exclude major actions" %}
      <br/>
      {{ form.exclude_minor_events }}
      {% trans "Exclude minor actions" %}
      <br/>
      {% trans "with tags:" %}
      {{ form.tags }}
    </div>

    <!-- Form for the Instituion -->
    <div id="id_institution_search_form" style="display: none;">
      {{ form.participant }}
      {% trans "who's contacts participated in" %}
      {{ form.major_event }}
      {{ form.minor_event }}
      <br/>
      {% trans "Exclude major action participants:" %}
      {{ form.exclude_major_events }}
      </br>
      {% trans "with tags:" %}
      {{ form.tags }}
    </div>

    <!-- Form for the Event -->
    <div id="id_event_search_form" style="display: none;">
      TODO
    </div>

    <!-- Use div to pad down a little -->
    <div style="padding-bottom: 1em;"></div>


    <button>{% trans "Search" %}</button>
  </form>
</div>
{% endblock %}
