{% load static i18n %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - SWOPtact</title>

		<!-- This is used for django_autocomplete_light -->
		<script src="{% static "js/jquery.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.11.4.custom/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/initialize_menu.js" %}"></script>

		{% include 'autocomplete_light/static.html' %}
                <script type="text/javascript" src="{% static "js/persistent_autocomplete.js" %}"></script>

 		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}

		<!-- Load our CSS -->
		<link href="{% static "css/bootstrap.css"%}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/swoptact.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "js/jquery-ui-1.11.4.custom/jquery-ui.css" %}" rel="stylesheet" type="text/css" />


		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% block header %}{% endblock %}
	</head>
	<body>
		<!-- Header (inc. menu) -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
        {% block branding %}{% endblock %}
			</div>
		</nav>
		<!-- END Header -->

  	<div id="actual-navbar">
      <div class="container-fluid">
        <!-- Breadcrumbs -->
        {% block breadcrumbs %}
        <div class="breadcrumbs">
          <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
          {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
        {% endblock %}
        <!-- END Breadcrumbs -->
        {% if user.is_active %}
        <form id="search-form" action="{% url 'admin:search' %}">
          <div class="input-group">
            <input name="q" value="{{request.GET.q}}" type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button id="search-button" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </form>
        <!-- Set handler for the search button -->
        <script type="text/javascript">
          $("#search-button").on("click", function() { document.getElementById("search-form").submit(); });
        </script>
        {% endif %}
      </div>
    </div>

    <div id="main" class="container-fluid">
			<!-- Alerts & Messages -->
			{% block messages %}
			{% if messages %}
			<ul class="messagelist">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endblock messages %}
			<!-- END Alerts & Messages -->

			<!-- Content -->
			<div id="content" class="{% block coltype %}colM{% endblock %}">
				{% block pretitle %}{% endblock %}
				{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
				{% block content %}
				{% block object-tools %}{% endblock %}
				{{ content }}
				{% endblock %}
				{% block sidebar %}{% endblock %}
			</div>
			<!-- END Content -->
		</div>
	</body>
</html>
