{% extends "admin/base.html" %}
{% block extrahead %}
{% load static i18n %}
  <script type="text/javascript" src="{% static "js/tweak_buttons.js" %}"></script>
  <script type="text/javascript">window.__admin_media_prefix__='/static/admin/'</script>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block branding %}
{% load staticfiles %}
<a id="logo-wrapper" href="{% url 'admin:app_list' app_label='swoptact' %}" ><img src="{% static "images/logo-swop.png" %}" alt="SWOP logo" height="50"></a>
<a href="{% url 'admin:app_list' app_label='swoptact' %}" class="navbar-brand">{% trans "Contacts" %}</a>
<div id="user-menu-link">
&nbsp &nbsp &nbsp
  <!-- three-lines icon from https://www.iconfinder.com/icons/134216/hamburger_lines_menu_icon -->
  <img src="{% static "images/three_lines_purple.png" %}">
  <div class="clearblock"></div>
  <ul id="user-menu">
    {% if user.is_active %}
    {% if user.has_usable_password and perms.auth.can_change_password %}
    <li><a href="{% url 'admin:password_change' %}">{% trans 'Change&nbsp;password' %}</a></li>
    {% endif %}
    <li><a href="{% url 'admin:logout' %}">{% trans 'Log&nbsp;out' %}</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
{% block nav-global %}{% endblock %}
