{% extends "admin/base.html" %}
{% block extrahead %}
{% load static i18n %}
  <script type="text/javascript" src="{% static "js/tweak_buttons.js" %}"></script>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block branding %}
{% load staticfiles %}
<a href="{% url 'admin:app_list' app_label='swoptact' %}" ><img src="{% static "images/logo-swop.png" %}" alt="SWOP logo" height="50" style="float: left; padding-right: 30px"></a>
<a href="{% url 'admin:app_list' app_label='swoptact' %}" class="navbar-brand">{% trans "Contacts" %}</a>
{% endblock %}
{% block nav-global %}{% endblock %}
