{% load static i18n %}

{% if change %}
  {# javascript can extract what ID to talk to from here #}
  <input type="hidden" id="event_object_id" value="{{ object_id }}" />

  <div class="_inline-group" id="participant-group">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
      <fieldset class="module">
        <h2>Attendees</h2>
        <table class="table table-striped table-bordered" id="attendees_table">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Phone number</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Populated via javascript ;D -->
            <tr class="form-row">
              <td><p>Georgia</p></td>
              <td><p>O'Keeffe</p></td>
              <td><p>+15557132859</p></td>
              <td><p>1234 Lily Rd, Sun Prairie, WI</p></td>
              <td>
                <button type="submit" class="btn btn-info" name="_edit" {{ onclick_attrib }}>✎ {% trans 'Edit' %}</button>
                <button type="submit" class="btn btn-danger" name="_unlink" {{ onclick_attrib }}>✘ {% trans 'Unlink' %}</button>
              </td>
            </tr>

            <tr class="form-row">
              <td><input class="vTextField" type="text" value="Georgia" /></td>
              <td><input class="vTextField" type="text" value="O'Keeffe" /></td>
              <td><input class="vTextField" type="text" value="+15557132859" /></td>
              <td><input class="vTextField" type="text" value="1234 Lily Rd, Sun Prairie, WI" /></td>
              <td>
                <button type="submit" class="btn btn-success" name="_save" {{ onclick_attrib }}>✓ {% trans 'Save' %}</button>
                <button type="submit" class="btn btn-warning" name="_cancel" {{ onclick_attrib }}>✗ {% trans 'Cancel' %}</button>
              </td>
            </tr>

          </tbody>
        </table>
      </fieldset>
    </div>
  </div>

  <script type="text/javascript" src="{% static "js/inline_ajax.js" %}"></script>
{% else %}
  <p>
    <i>(To add participants, first save this event.)</i>
  </p>

{% endif %}

