{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
	{% if form.errors.items|length == 1 %}
	{% trans "Please correct the error below." %}
	{% else %}
	{% trans "Please correct the errors below." %}
	{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">{{ error }}</p>
{% endfor %}
{% endif %}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<form action="{{ app_path }}" method="post" class="form-horizontal">
		{% csrf_token %}
		<div class="form-group">
			{{ form.username.errors }}
			<label for="inputUsername" class="col-sm-4 control-label">{{ form.username.label }}</label>
			<div class="col-sm-8">
				{{ form.username }}
			</div>
		</div>
		<div class="form-group">
			{{ form.password.errors }}
			<label for="inputPassword" class="col-sm-4 control-label">{{ form.password.label }}</label>
			<div class="col-sm-8">
				{{ form.password }}
			</div>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />

		{% url 'admin_password_reset' as password_reset_url %}
		{% if password_reset_url %}
		<div class="password-reset-link">
			<a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
		</div>
		{% endif %}
  		<div class="form-group">
  			<div class="col-sm-offset-4 col-sm-8">
				<button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		document.getElementById('id_username').focus()
	</script>
</div>
{% endblock %}
