{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
<script type="text/javascript" src="{% static 'js/change_advanced_fields.js' %}"></script>
{% endblock %}

{% if not is_popup %} {% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li class="bold_name">{% trans "Search" %}</li>
</ul>
{% endblock %} {% endif %}

{% block content %}
{% if not search_query and error %}
<div class="alert alert-danger">
  {% trans "You need to specify a search term" %}
</div>
{% endif %}

<h2>{% trans "Search" %}</h2>
<div>
  <form method="POST" action="{% url 'admin:search' %}?advanced={% if advanced %}1{% endif %}">
    {% csrf_token %}
    {% block search %}
    {% if advanced %}
    <div id="id_search_form">
      <!-- What does the user want to search for, this will dictate the search query -->
      <h4 style="display: inline;">{% trans "Search for " %}</h4>
      {{ form.search_model }}

      <span class="help-block">
	{% trans "All fields are optional, only fill in those which are applicable to your search." %}
      </span>

      <!-- Use div to pad down a little -->
      <div style="padding-bottom: 1em;"></div>

      <div id="participant_search_fields">
      {% trans "Member of this institution: " %}
      {{ form.institution }}<br />
      {% trans "Or a member of any institution tagged:" %}
      {{ form.institution_tags }}<br />
      {% trans "Participated in this action: " %}
      {{ form.event }} <br />
      {% trans "Or participated in any action organized by: " %}
      {{ form.event_organizer }} <br />
      {% trans "Or participated in any action tagged:" %}
      {{ form.event_tags }}
      </div>

      <div id="action_search_fields">      
      {% trans "Attended by: " %}
      {{ form.participant }} <br />
      {% trans "Organized by: " %}
      {{ form.event_organizer }} <br />
      {% trans "Tagged:" %}
      {{ form.event_tags }}
      </div>
      <br />
      <br />
      {% trans "Start Date: " %}
      {{ form.start_date }}
      <br />
      <br />
      {% trans "End Date:" %}
      {{ form.end_date }}
      <br />
    </div>
    <!-- Use div to pad down a little -->
    <div style="padding-bottom: 1em;"></div>
    {% else %}
    {{ form.query }}
    {% endif %}
    <button>{% trans "Search" %}</button>
    {% endblock %}

    <br />

    <!-- Give the user option of switching to either basic or advanced search -->
    {% if advanced %}
    <a href="{% url 'admin:search' %}" style="font-style: italic">change to basic search</a>
    {% else %}
    <a href="{% url 'admin:search' %}?advanced=1" style="font-style: italic">change to advanced search</a>
    {% endif %}


    <!-- Display some padding between search query and results -->
    <div style="padding-bottom: 1em;"></div>

    {% block search_results %}
    <ul>
      {% if major_event_count %}
      <li>{% trans "Major Actions:" %} {{ major_event_count }}</li>
      {% endif %}
      {% if prep_event_count %}
      <li>{% trans "Prep Actions:" %} {{ prep_event_count }}</li>
      {% endif %}
      {% if institution_count %}
      <li>{% trans "Institutions:" %} {{ institution_count }}</li>
      {% endif %}
      {% if participant_count %}
      <li>{% trans "Unique Participants:" %} {{ participant_count }}</li>
      {% endif %}
    </ul>
    {% endblock %}
  </form>
  {% include "admin/includes/search_result_block.html" with search_results=search_results %}
</div>
{% endblock %}
